* {
  margin: 0;
  padding: 0;
}

/* FOOTER */
footer {
  display: flex;
  justify-content: space-between;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgb(12, 19, 79);
}
footer .icons_footer {
  display: flex;
  margin: 10px;
}
footer .icons_footer :hover {
  background-color: rgb(212, 173, 252);
  color: rgb(12, 19, 79);
}
footer .icons_footer li {
  display: flex;
  padding: 0 10px 0 10px;
}
footer .icons_footer li .sm_button {
  height: 30px;
}
footer .copyright {
  margin-bottom: 0;
  padding-left: 10px;
  display: flex;
  align-items: center;
}

body {
  height: 100%;
  background-image: linear-gradient(rgb(29, 38, 125), rgb(12, 19, 79));
  background-size: cover;
  background-repeat: no-repeat;
  color: aliceblue;
}

a {
  color: aliceblue;
  text-decoration: none;
}

.welcome_main {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 200px 50px 100px 50px;
}
.welcome_main .welcome_buttons {
  padding-left: 30px;
}
.welcome_main .welcome_buttons img {
  padding: 10px;
}
.welcome_main .welcome_buttons img:hover {
  transform: scale(1.5, 1.5);
  transition: 1s;
}
.welcome_main .welcome_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  text-align: center;
  padding: 0px 200px 40px 200px;
  font-size: x-large;
  font-weight: 100;
}
.welcome_main .welcome_text h1 {
  margin-left: 20px;
  margin-bottom: 40px;
}
.welcome_main .welcome_img {
  filter: brightness(50%);
  display: flex;
  position: absolute;
  padding-top: 50px;
  width: 110%;
  top: 0;
  right: 0;
  z-index: -1;
}

.main_aboutme {
  height: 100%;
}
.main_aboutme .aboutme_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 5% 20% 20% 20%;
}
.main_aboutme h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
  padding-top: 50px;
}

#contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding: 0px 0px 100px 0px;
  height: 100vh;
}

.main_projects {
  display: flex;
  flex-direction: row-reverse;
  padding-bottom: 20%;
}
.main_projects .projects_title {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-self: center;
  padding: 0px 80px 0px 80px;
  font-size: xx-large;
}
.main_projects .project_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 10px;
}
.main_projects .project_box .box {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px rgb(212, 173, 252) solid;
  border-radius: 2%;
  margin: 10px 0px 10px 0px;
  float: left;
  width: 33%;
}
.main_projects .project_box .box .box_title {
  background-color: rgb(12, 19, 79);
  border: 2px solid;
  border-color: rgb(212, 173, 252);
  border-radius: 2%;
  width: fit-content;
  padding: 2px;
  text-align: center;
  align-items: center;
  font-weight: bold;
  position: absolute;
  opacity: 0;
  transition: opacity 0.45s;
}
.main_projects .project_box .box .box_title:hover {
  cursor: pointer;
  opacity: 100%;
}
.main_projects .project_box .box img {
  width: 100%;
  border-radius: 3px;
}

.skills_main {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 10px 100px 200px 100px;
}
.skills_main h2 {
  font-size: xx-large;
  align-self: center;
  padding: 50px;
}
.skills_main .skills_list {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 33% 33% 33%;
  gap: 40px;
}
.skills_main .skills_list .skills_box {
  font-size: larger;
  font-weight: 300;
  padding: 40px;
  margin: 10px;
  border: 3px rgb(212, 173, 252) solid;
  border-radius: 2%;
  position: relative;
}
.skills_main .skills_list .skills_box:hover {
  color: rgb(12, 19, 79);
  transform: scale(1.1, 1.1);
  transition: 1s;
  background-color: rgb(212, 173, 252);
}

@media only screen and (max-width: 991px) {
  header {
    flex-direction: column;
  }
  .welcome_main {
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 150px 0px;
  }
  .welcome_main .welcome_text {
    align-items: center;
    padding: 0px 100px 0px 100px;
  }
  .welcome_main .welcome_img {
    position: sticky;
    padding: 0;
    width: 100%;
  }
  .welcome_main .welcome_buttons {
    padding: 0;
  }
  footer {
    flex-direction: column-reverse;
    align-items: center;
  }
  footer .copyright {
    padding: 0;
  }
  footer .icons_footer {
    padding: 0;
  }
  .main_projects {
    flex-wrap: wrap;
    justify-content: center;
  }
  .main_projects .projects_title {
    padding: 0px;
    margin: 60px 0px 30px 0px;
  }
  .main_projects .project_box {
    align-items: center;
    flex-direction: column;
  }
  .main_projects .project_box .box {
    width: 90%;
  }
  .skills_main {
    padding: 10px 20px 200px 20px;
  }
  .skills_main .skills_list {
    grid-template-columns: 100%;
    grid-template-rows: 16.67% 16.67% 16.67% 16.67% 16.67% 16.67%;
    padding-bottom: 50%;
  }
  .main_aboutme h2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: xx-large;
    padding-left: 50px;
  }
  .main_aboutme aboutme_text {
    font-weight: 100;
  }
  #contact-form {
    padding: 0px 10px 150px 10px;
    height: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
