*{
    margin: 0;
    padding: 0;
}
body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(29, 38, 125);
    color: aliceblue;


}

a{
    color: aliceblue;
    text-decoration: none;
}

/* HEADER - NAVBAR que no termine usando porque lo hice con bootstrap 

header{
    background-color: rgb(12, 19, 79);
    color: aliceblue;
}
.logo {
    position: sticky;
    margin: 5px;
    padding: 10px;
}
.logo:hover{
    background-color: rgb(212, 173, 252);
    color: rgb(12, 19, 79);
}
.menu a:hover {
    background-color: rgb(212, 173, 252);
    color: rgb(12, 19, 79);
}
.menu li{
    display: inline;
    position: sticky;   
}
.menu a{
    padding: 10px;
}

.menu {
   margin-bottom: 0; 
} */

/* FOOTER */
footer{
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgb(12, 19, 79) ;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin: 10px;
    
}
.footer :hover{
    background-color: rgb(212, 173, 252);
    color: rgb(12, 19, 79);
}
.footer li{
    display: flex;
    justify-content: center;
    padding: 10px;
}
ul{
    padding-left: 0rem;
    margin-bottom: 0rem;
}


/* INDEX */
.welcome_main{
    display: flex;
    flex-direction: row;
    padding: 200px 50px 100px 50px;

}

.welcome_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-right: 20%;
    font-size: x-large;
    font-weight: 100;
    
}

.welcome_text h1{
   
    margin-left: 20px;
    margin-bottom: 40px;
}


/* ABOUT ME */
.main_aboutme{
    display: flex;
    flex-direction: column;
    align-items: center;
   
    padding: 20% 20% 10% 20%;
}
.aboutme_text {
    display: flex;
}


/* SKILLS */
.skills_main{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 10px 50px 200px 50px;
}

.skills_main h2{
    font-size: xx-large;
    align-self: center;
    padding: 50px;
    
}
.skills_list{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 33% 33% 33%;
    gap: 40px;

}

.skills_box{
    font-size: larger;
    font-weight: 100;
    padding: 40px;
    margin: 10px;
    border: 3px rgb(212, 173, 252) solid;
    border-radius: 3%;
    position: relative;
}


/* PROJECTS */
.main_projects{
    display: flex;
    flex-direction:row-reverse;
    padding-bottom: 20%;

}
.projects_title{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-self: center;
    padding: 0px 100px 0px 20px;
    font-size: xx-large;

}
.project_box{
    display: flex;
    flex-wrap:wrap;
    justify-content: left;
    padding-top: 10px;
}
.box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 400px;
    text-align: center;
    padding: 40px;
     
}
.box p{
    padding-top: 10px;
}
.box:hover{
    background-color: rgb(212, 173, 252);
    color: rgb(12, 19, 79);
}
.img{
    width: 270px;
}


/* CONTACT */
.contact h2{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}


/* MEDIA QUERIES*/

/*tablet*/
@media only screen and (max-width: 768px){}

/*mobile*/
@media only screen and (max-width: 576px){

    header{
        flex-direction: column;
    }

    .welcome_main{
        flex-direction: column;
        align-items: center;
        margin: 1px;
        padding-top: 10px;
        
    }

    .welcome_text{
        align-items: center;
        margin-right: 0px;
    }

    .main_projects{
        flex-direction: column;
    }

    .projects_title{
        padding: 0px;
        margin-top: 20px;
    }

    .project_box{
        justify-content: center;
    }

    .skills_list{
        grid-template-columns: 100%;
        grid-template-rows:  16.67% 16.67% 16.67% 16.67% 16.67% 16.67%;
        padding-bottom: 50%;
    }

}



