//about me
.main_aboutme {
  height: 100%;

  .aboutme_text {
    @include flex(column, center, center, 40px);
    padding: 5% 20% 20% 20%;
  }

  h2 {
    @include flex(column, center, center, 0px);
    padding-top: 50px;
  }
}