//skills
.skills_main {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 10px 100px 200px 100px;

  h2 {
    font-size: xx-large;
    align-self: center;
    padding: 50px;
  }

  .skills_list {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 33% 33% 33%;
    gap: 40px;

    .skills_box {
      font-size: larger;
      font-weight: 300;
      padding: 40px;
      margin: 10px;
      border: 3px $hover-color solid;
      border-radius: 2%;
      position: relative;

      &:hover {
        color: $footer-color;
        transform: scale(1.1, 1.1);
        transition: 1s;
        background-color: $hover-color;
      }
    }
  }
}