/* FOOTER */
footer {
  display: flex;
  justify-content: space-between;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: $footer-color;

  .icons_footer {
    display: flex;
    margin: 10px;

    :hover {
      background-color: rgb(212, 173, 252);
      color: $footer-color;
    }

    li {
      display: flex;
      padding: 0 10px 0 10px;

      .sm_button {
        height: 30px;
      }
    }
  }

  .copyright {
    margin-bottom: 0;
    padding-left: 10px;
    display: flex;
    align-items: center;
  }
}